In [14]:
from pathlib import Path  
import pandas as pd
d1 = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/filteredData3/test.csv'
d2 = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/filteredData3/testfile.csv' 
d1 = pd.read_csv(d1)
d2 = pd.read_csv(d2)

In [15]:
d1

          C1    C2
0  duplicate   bad
1  duplicate  nice
2  duplicate   bad

In [16]:
d2

          C1      C3
0  duplicate  filler
1      Check  filler

In [17]:
temp = d2.merge(d1, on='C1', how='outer')

In [18]:
temp

          C1      C3    C2
0  duplicate  filler   bad
1  duplicate  filler  nice
2  duplicate  filler   bad
3      Check  filler   NaN

In [7]:
d3 = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/filteredData3/test3.csv'
d3 = pd.read_csv(d3)

In [8]:
d3

      C1   C2
0  Check  bad

In [19]:
temp = d2.merge(d3, on='C1', how='outer')

In [20]:
temp

          C1      C3   C2
0  duplicate  filler  NaN
1      Check  filler  bad

In [21]:
from pathlib import Path
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [39]:

t1 = 'art_tags'

subreddit = ['Abandoned_tags','ANormalDayInRussia_tags','astrophotography_tags','aww_tags','BeAmazed_tags','CampingandHiking_tags','CatastrophicFailure_tags','cats_tags','CozyPlaces_tags','CrappyDesign_tags','creepy_tags','cringepics_tags','design_tags','earth_p_tags','eye_bleach_tags','fishing_tags','food_tags','food_p_tags','gardening_tags','hiking_tags','hmmm_tags','interesting_tags','interesting_af_tags','itookapicture_tags','KidsAreFuckingStupid_tags','mildly_infuriating_tags','mildlyinfuriating_tags','mildly_interesting_tags','MilitaryPorn_tags','natureismetal_tags','oddlyterrifying_tags','OldSchoolCool_tags','OSHA_tags','Outdoors_tags','Perfectfit_tags','progresspics_tags','pics_tags','rare_puppers_tags','RoomPorn_tags','shittyfoodporn_tags','skin_care_tags','space_tags','tattoo_tags','TheWayWeWere_tags','trashy_tags','wallpaper_tags','WTF_tags']
DATA1 = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/sqldf/tags/{t1}.csv'
final_df = pd.read_csv(DATA1,sep=",", encoding ='utf-8',on_bad_lines='skip')
final_df

                                                  Comment       Label
0       I found a picture of Putin in the collage. 46t...     neutral
1       I’ve always liked it when somebody makes a mos...        love
2                            Putin, Me, photography, 2022     neutral
3       Could we possibly make this the first image th...     neutral
4                Is the tiny Putin made out of dicks too?     neutral
...                                                   ...         ...
115903  amazing! Might find these on the beach in a co...  admiration
115904                thats quite the lovely niche innit?   curiosity
115905  The 1u version is breathtaking. I purchased bo...  admiration
115906  The 1u version is breathtaking. I purchased bo...  excitement
115907    Makes me think of the song In A Week by Hozier.     neutral

[115908 rows x 2 columns]

In [40]:
for sub in subreddit:
    temp = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/sqldf/tags/{sub}.csv'
    temp_df = pd.read_csv(temp,sep=",", encoding='utf-8',on_bad_lines='skip')
    final_df = final_df.append(temp_df, ignore_index=True)
    print(sub)

Abandoned_tags
ANormalDayInRussia_tags
astrophotography_tags
aww_tags
BeAmazed_tags
CampingandHiking_tags
CatastrophicFailure_tags
cats_tags
CozyPlaces_tags
CrappyDesign_tags
creepy_tags
cringepics_tags
design_tags
earth_p_tags
eye_bleach_tags
fishing_tags
food_tags
food_p_tags
gardening_tags
hiking_tags
hmmm_tags
interesting_tags
interesting_af_tags
itookapicture_tags
KidsAreFuckingStupid_tags
mildly_infuriating_tags
mildlyinfuriating_tags
mildly_interesting_tags
MilitaryPorn_tags
natureismetal_tags
oddlyterrifying_tags
OldSchoolCool_tags
OSHA_tags
Outdoors_tags
Perfectfit_tags
progresspics_tags
pics_tags
rare_puppers_tags
RoomPorn_tags
shittyfoodporn_tags
skin_care_tags
space_tags
tattoo_tags
TheWayWeWere_tags
trashy_tags
wallpaper_tags
WTF_tags

In [41]:
final_df

                                                   Comment           Label
0        I found a picture of Putin in the collage. 46t...         neutral
1        I’ve always liked it when somebody makes a mos...            love
2                             Putin, Me, photography, 2022         neutral
3        Could we possibly make this the first image th...         neutral
4                 Is the tiny Putin made out of dicks too?         neutral
...                                                    ...             ...
2426377  I found one of those cage window bracket thing...            love
2426378  Yeah and we all survived too, for the most par...       annoyance
2426379   is one of the subs that just doesn't work in ...         neutral
2426380   Well were all here so it cant have been too bad.  disappointment
2426381  Injuries are responsible for 5% of infant deat...     realization

[2426382 rows x 2 columns]

In [50]:
comments = f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/sqldf/comments.csv'
comments = pd.read_csv(comments, sep=",", encoding='utf-8',on_bad_lines='skip')
comments

,SubmissionID,CommentID,Comment
0,300001,1,I liked the one of Putin himself buried in there
1,300001,2,"Me “Ugh, I hate when people mark posts NSFW fo..."
2,300001,3,Love that they all appear to be flacid
3,300001,4,I’m honestly more impressed by the collection....
4,300001,5,Well i can't unzoom in but this was probably t...
...,...,...,...
2283376,332038,55,The last one looks like a trip to Auschwitz
2283377,332038,56,"I remember being about 4 years old, standing u..."
2283378,332038,57,"I'm 60, remember going to get seat belts put i..."
2283379,332038,58,"Just think, folks; the reason why we don’t do ..."
2283380,332038,59,That was my car seat growning up! Lot less car...

In [55]:
temp = comments.merge(final_df, on='Comment', how='inner')

In [63]:
temp = temp.drop_duplicates(subset=['Comment', 'Label'], keep='first')
temp

,SubmissionID,CommentID,Comment,Label
0,300001,1,I liked the one of Putin himself buried in there,neutral
1,300001,2,"Me “Ugh, I hate when people mark posts NSFW fo...",anger
2,300001,3,Love that they all appear to be flacid,love
3,300001,4,I’m honestly more impressed by the collection....,admiration
4,300001,4,I’m honestly more impressed by the collection....,optimism
...,...,...,...,...
31775812,332038,40,Olden days? I spent all of my young days witho...,realization
31775813,332038,43,From this to safes spaces. Progre/ss,neutral
31775814,332038,52,Well were all here so it cant have been too bad.,disappointment
31775815,332038,53,"OH GOD, I'M SO GLAD I WASN'T BORN DURING THE 5...",annoyance
31775816,332038,55,The last one looks like a trip to Auschwitz,neutral

In [65]:
temp.to_csv(f'C:/Users/Charlie/Desktop/Database/BERT-Sentiment-Analysis-Reddit-API/DataCleaning/sqldf/tagged_comments.csv', index=False, encoding='utf8')